@model IEnumerable<Mobie_store.ViewService.user>
@{
    ViewBag.Title = "listUsers";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Dashboard.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="purple">
                <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Users DataTables</h4>
                <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <div class="material-datatables">
                    <table id="usersTable" class="table table-striped table-no-bordered table-hover datatables" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Username</th>
                                <th>Fullname</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Image</th>
                                <th>Activate</th>
                                <th class="disabled-sorting text-right">Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Fullname</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Image</th>
                                <th>Activate</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @{var count = 0;};
                           @foreach (var user in Model)
                           {
                            <tr class="row_@user.id">
                                <td>@(++count)</td>
                                <td>@user.username</td>
                                <td>@user.fullname</td>
                                <td>@user.email</td>
                                <td>@user.pwd</td>
                                <td>@user.address</td>
                                <td>@user.phone</td>
                                <td><img src="@user.image" id="img_thumb" style="width: 50px; height: auto;"></td>
                                <td>
                                   @if (user.activated == 1)
                                    {
                                        <span class="label label-success">Active</span>
                                    }
                                    else
                                    {
                                        <span class="label label-danger">Deactive</span>
                                    }
                                </td>
                                <td class="text-right">
                                    <a href="#" class="btn btn-simple btn-info btn-icon status_users" data-id="@user.id"><i class="material-icons">done</i></a>
                                    <a href="#" class="btn btn-simple btn-info btn-icon delete_users" data-id="@user.id"><i class="material-icons">clear</i></a>
                                </td>
                            </tr>
                            
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>
<!-- end row -->
