@model Mobie_store.ViewService.user
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_Account.cshtml";
}

<div class="tm-section tm-my-account-area bg-white tm-padding-section">
    <div class="container">
        <div class="tm-myaccount">
            <ul class="nav tm-tabgroup justify-content-start justify-content-lg-center" id="account" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="account-dashboard-tab" data-toggle="tab" href="#account-dashboard" role="tab" aria-controls="account-dashboard" aria-selected="true">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="account-orders-tab" data-toggle="tab" href="#account-orders" role="tab" aria-controls="account-orders" aria-selected="false">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="account-address-tab" data-toggle="tab" href="#account-address" role="tab" aria-controls="account-address" aria-selected="false">Address</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="account-acdetails-tab" data-toggle="tab" href="#account-acdetails" role="tab" aria-controls="account-acdetails" aria-selected="false">Account Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="account-logout-tab" href="/Customer/Logout" role="tab" aria-controls="account-address" aria-selected="false">Logout</a>
                </li>
            </ul>

            <div class="tab-content" id="account-ontent">
                <div class="tab-pane fade show active" id="account-dashboard" role="tabpanel" aria-labelledby="account-dashboard-tab">
                    <div class="tm-myaccount-dashboard">
                        <div class="col-md-12"><p>Hello <span style="font-size: 30px">@Model.fullname</span></p></div>  
                    </div>
                </div>
                <div class="tab-pane fade" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                    <div class="tm-myaccount-orders">
                        <div class="table-responsive">
                            <table class="table table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th class="tm-myaccount-orders-col-id">ORDER ID</th>
                                        <th class="tm-myaccount-orders-col-date">DATE</th>
                                        <th class="tm-myaccount-orders-col-total">TOTAL</th>
                                        <th class="tm-myaccount-orders-col-view">VIEW</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{var count = 0;};
                                    @if (ViewBag.Order != null)
                                    {
                                        foreach (var or in (ViewBag.Order as List<Mobie_store.ViewService.order>))
                                        {
                                            <tr>
                                                <td>@(++count)</td>
                                                <td>@or.date_create</td>
                                                <td>@string.Format("{0:#,#.##}", or.total_money) đ</td>
                                                <td><a href="#" class="tm-button tm-button-sm">View <b></b></a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="account-address" role="tabpanel" aria-labelledby="account-address-tab">
                    <div class="tm-myaccount-address">
                        <p><b>The following addresses will be used on the checkout page by default.</b></p>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 mt-30 mt-md-0">
                                <div class="tm-myaccount-address-shipping">
                                    <a href="#" class="edit-button">Edit</a>
                                    <h3>Shipping Address</h3>
                                    <address>
                                        @Model.address
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="account-acdetails" role="tabpanel" aria-labelledby="account-acdetails-tab">
                    <div class="tm-myaccount-acdetails">
                        <form method="post" action="@Url.Action("Edit","Customer")" class="tm-form tm-form-bordered">
                            <h4>Account Details</h4>
                            <div class="tm-form-inner">
                                <div class="tm-form-field tm-form-fieldhalf">
                                    <label for="acdetails-firstname">Full name</label>
                                    <input type="text" id="acdetails-firstname" name="fullname" required="required" value="@Model.fullname">
                                </div>
                                <div class="tm-form-field">
                                    <label for="acdetails-email">Email address</label>
                                    <input type="email" id="acdetails-email" name="email" required="required" value="@Model.email">
                                </div>
                                <div class="tm-form-field">
                                    <label for="acdetails-newpassword">New password</label>
                                    <input type="password" id="acdetails-newpassword" name="pwd" required>
                                </div>
                                <div class="tm-form-field">
                                    <label for="acdetails-confirmpass">Confirm password</label>
                                    <input type="password" id="acdetails-confirmpass" name="re_pwd" required>
                                </div>
                                <div class="tm-form-field">
                                    <input type="checkbox" name="acdetails-agreeterms" id="acdetails-agreeterms">
                                    <label for="acdetails-agreeterms">
                                        I have read and agree to the Privacy
                                        Policy
                                    </label>
                                </div>
                                <div class="tm-form-field">
                                    <button type="submit" class="tm-button">Save Changes <b></b></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

