@model Mobie_store.ViewService.product
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_Home.cshtml";
}
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Search Products</h2>
                    <form action="@Url.Action("Search","ListProduct")" method="post">
                        <input type="text" placeholder="Search products...">
                        <input type="submit" name="Desc" value="Search">
                    </form>
                </div>
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Products</h2>
                    <div class="thubmnail-recent">
                        <img src="~/Assets/Home/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="#">Phone 6s</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="~/Assets/Home/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="#">Phone 6s</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="~/Assets/Home/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="#">Phone 6s</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="~/Assets/Home/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="#">Phone 6s</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="#">Home</a>
                        <a href="#">@Model.name</a>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="@Model.image" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">@Model.name</h2>
                                <div class="product-inner-price">
                                    <ins>@string.Format("{0:#,#.##}", Model.price) VND</ins> @*<del>$100.00</del>*@
                                </div>
                                <div class="pd-form">
                                    <div class="quantity">
                                        <input type="number" title="Qty" value="1" maxlength="12" id="qty" name="SoLuong" class="input-text qty">
                                    </div>
                                    <button type="button" id="add-to-cart" class="product-atc" onclick="addtocart(@Model.id)">Đặt hàng</button>
                                </div>
                                &nbsp;
                                <hr />
                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Product Description</h2>
                                            <ul>
                                                <li>
                                                    Name: @Model.name
                                                </li>
                                                <li>
                                                    Price: @Model.price
                                                </li>
                                                <li>
                                                    GHZ: @Model.Ghz
                                                </li>
                                                <li>
                                                    Color: @Model.color
                                                </li>
                                                <li>
                                                    Sensor: @Model.sensor
                                                </li>
                                                <li>
                                                    Chipset: @Model.cpu
                                                </li>
                                                <li>
                                                    Ram: @Model.ram
                                                </li>
                                                <li>
                                                    Camera front: @Model.camera_front
                                                </li>
                                                <li>
                                                    Camera rear: @Model.camera_rear
                                                </li>
                                                <li>
                                                    Battery: @Model.battery
                                                </li>
                                                <li>
                                                    Display: @Model.display
                                                </li>
                                                <li>
                                                    Sim: @Model.sim
                                                </li>
                                                <li>
                                                    Status: @Model.status
                                                </li>
                                                <li>
                                                    Active: @Model.activate
                                                </li>
                                                <li>
                                                    Follow: @Model.follow
                                                </li>
                                            </ul>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <h2>Reviews</h2>
                                            <div class="submit-review">
                                                <p><label for="name">Name</label> <input name="name" type="text"></p>
                                                <p><label for="email">Email</label> <input name="email" type="email"></p>
                                                <div class="rating-chooser">
                                                    <p>Your rating</p>
                                                    <div class="rating-wrap-post">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                                <p><input type="submit" value="Submit"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade success-popup" id="SuccessMD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Thank You !</h4>
            </div>
            <div class="modal-body text-center">
                <i class="fa fa-check-square-o" style="font-size: 50px;color: green;"></i>
                <p class="lead">Sản phẩm đã được đưa vào giỏ hàng</p>
                <a href="/Cart/Index" class="btn btn-success">Đến giỏ hàng</a>
            </div>

        </div>
    </div>
</div>
<div class="modal fade success-popup" id="ErrMD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Thank You !</h4>
            </div>
            <div class="modal-body text-center">
                <i class="fa exclamation-triangle" style="font-size: 50px;color: green;"></i>
                <p class="lead">Lỗi thêm sản phẩm</p>
                <a href="/Cart/Index" class="btn btn-success">Đến giỏ hàng</a>
            </div>

        </div>
    </div>
</div>
<script>

    function addtocart(id) {
        var sl = $("#qty").val();
        $.ajax({
            type: 'GET',
            url: '/Cart/AddToCart',
            dataType: 'json',
            data: { id: id, SoLuong: sl },
            success: function (response) {
                if (response.status) {
                    $("#my-cart").text(response.sluong);
                    $('#SuccessMD').modal('show');
                }
                else {
                    $('#ErrMD').modal('show');
                }

            }
        });
    }
</script>
